* {box-sizing: border-box;}

body {
  /*background-image: url("images/large/background.png");
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #ededed;
  margin: 0;
  Font-family: "Helvetica Neue";
}

.wrapper {
  display: grid;
  grid-template-areas:
    "navbar"
    "homeWrapper";

}

.homeWrapper {
  display: grid;
  grid-template-areas:
  "title"
  "description-box"
  "question"
  "boxes";
}

.navbar {
  display: grid;
  grid-template-areas:
    "logo menu-1 menu-2 menu-3 menu-4 ";
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  background-color: #233249;
  color: white;

}

.menu-1, .menu-2, .menu-3, .menu-4 {
    background-color: #233249;
    color: white;
    margin-top: 1.75em;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu-1 {
    background-color: #EA5045;
    color: black;
}
.dropdown:hover .menu-2 {
    background-color: #EA5045;
    color: black;
}
.dropdown:hover .menu-3 {
    background-color: #EA5045;
    color: black;
}
.dropdown:hover .menu-4 {
    background-color: #EA5045;
    color: black;
}




.title {
  text-align: center;
  height: 22em;
  background-image: url("images/large/workspace.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.title h1 {
  margin-top: 4em;
  font-size: 30px;
}
.title p {
  font-size: 20px;
}
.description-box {
  display: grid;
  grid-template-areas:
  "title-box title-box"
  "courses des";
  grid-template-columns: 1fr 1fr;
  background-color: #e0e0e0;
/*  background-image: linear-gradient(to bottom, #FEA69D, #F08C96);*/;
  color:black;
  padding: 5em;
  grid-gap: 3em;

}
.courses {
  display: grid;
  grid-template-areas:
  "business design"
  "communication interaction";
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  margin-left: 25%;
}

.business{
  background-color: rgb(255, 180, 170);
  padding-left: 2em;
  padding-top: 4em;
}
.design{
  background-color: rgb(76, 55, 75);
  padding-left: 2em;
      padding-top: 4em;
}
.communication{
  background-color: rgb(253, 215, 87);
    padding-left: 1em;
        padding-top: 4em;
}
.interaction{
  background-color: rgb(110, 206, 178);
    padding-left: 2em;
        padding-top: 4em;
}

.business h4, .design h4, .communication h4,  .interaction h4 {
  display: inline;
  background-color: white;
  font-size: 20px;
}

.title-box{
  text-align: center;

}

ul {
  text-align: center;
}

.question{
  text-align: center;
  margin-top: 7em;
  margin-bottom: 3em;
}

.boxes {
  display: grid;
  grid-template-areas:
  "knowledge skills competencies";
  grid-column-gap: 3em;
  text-align: center;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 5em;
}

.des p {
  width: 20em;
}


.boxes ul {
  text-align: left;

}

.knowledge, .skills, .competencies {
    background-color: #e0e0e0;
  color: black;
  padding:.2em;
  padding-right: 1em;
  padding-top: 1em;
}

.knowledge li, .skills li, .competencies li {
  font-size:13px;
}

.knowledge img, .skills img, .competencies img {
  width:70px;
}



footer {
  margin-top:5em;
  background-color: #233249;
  height: 5em;
}

/* ****************** SUB DIVS  *********************  */


.teachingWrapper {

  display:grid;
  grid-template-areas:
  "techingTitle techingTitle"
  "methods methods"
  "progression progression"
  "projectWork projectWork"
  "learning learning"
  "motivation motivation";
  grid-template-columns: 1fr 1fr;
}

.abroadWrapper {
  display: grid;
  grid-template-areas:
  "abroadTitle abroadTitle"
  "abroad abroad";
  grid-template-columns: 1fr 1fr;

}

.internshipWrapper {
  display: grid;
  grid-template-areas:
  "internshipTitle internshipTitle"
  "twoBoxes twoBoxes"
  "internship internship";
  grid-template-columns: 1fr 1fr;
}

/* ****************** SUB DIVS  *********************  */
.internshipWrapper {grid-area: internshipWrapper; display: none;}
.internship {grid-area:internship;}
.abroadWrapper {grid-area: abroadWrapper; display: none;}
.abroad {grid-area: abroad;}
.teachingWrapper {grid-area: teachingWrapper;
  display: none;}
.motivation {grid-area: motivation;}
.learning {grid-area: learning;}
.projectWork {grid-area: projectWork;}
.progression {grid-area: progression;}
.methods {grid-area: methods;}
.teachingTilte {grid-area: teachingTilte;}
.homeWrapper {grid-area: homeWrapper;}
.skills {grid-area:skills;}
.competencies {grid-area: competencies;}
.knowledge {grid-area: knowledge;}
.navbar {grid-area: navbar;}
.title {grid-area: title;}
.description-box {grid-area: description-box;}
.question {grid-area: question;}
.boxes {grid-area: boxes;}
.logo {grid-area: logo;}
.menu-1 {grid-area: menu-1;}
.menu-2 {grid-area: menu-2;}
.menu-3 {grid-area: menu-3;}
.menu-4 {grid-area: menu-4;}
.title-box {grid-area: title-box;}
.courses {grid-area: courses;}
.des {grid-area: des;}
.bussines {grid-area: bussines;}
.design{grid-area: design;}
.communication{grid-area: communication;}
.interaction{grid-area: interaction;}
